.footer__menu-title {
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    color: #666;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}