.button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 21px 26px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    transition: all .5s ease-in-out;
}

.button:hover {
    transform: scale(1.25);
}